# Data pre processing

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# load dataset
dataset = pd.read_csv(r'D:\Fun projects\Neural Network\Datasets\Lizard_behavior\behavior_data.csv')

In [22]:
dataset.head()

,Lizard,year,date,aggression,boldness,sex,avgmass,trialnum,assayyear,yrsinsite,avgbothNymph_Larva,avgtotal
0,2,2015,10/6/2015,5,-0.195733,0.0,755.6,1,1,1,6.000000,8.000000
1,2,2015,10/21/2015,5,-1.413857,0.0,755.6,2,1,1,5.333333,7.333333
2,2,2015,11/4/2015,5,-1.007816,0.0,755.6,3,1,1,5.000000,7.250000
3,13,2015,10/7/2015,2,-2.225940,1.0,705.0,1,1,1,4.500000,5.000000
4,13,2015,10/22/2015,2,-0.601774,1.0,705.0,2,1,1,4.000000,4.333333

In [4]:
# shape of  the dataset
dataset.shape

(1013, 12)

In [27]:
dataset['avgtotal'].skew()

6.038833110206211

In [8]:
dataset['boldness'].fillna(dataset['boldness'].median(), inplace=True)

C:\Users\Majesty\AppData\Local\Temp\ipykernel_20324\1511974118.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['boldness'].fillna(dataset['boldness'].median(), inplace=True)

when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value)

In [16]:
dataset.fillna({'sex': dataset['sex'].mode()[0]}, inplace=True)

In [20]:
dataset.fillna({'avgmass': dataset['avgmass'].mean()}, inplace=True)

In [25]:
dataset.fillna({'avgbothNymph_Larva': dataset['avgbothNymph_Larva'].median()}, inplace=True)

In [28]:
dataset.fillna({'avgtotal': dataset['avgtotal'].median()}, inplace=True)

In [29]:
dataset.isnull().sum()

Lizard                0
year                  0
date                  0
aggression            0
boldness              0
sex                   0
avgmass               0
trialnum              0
assayyear             0
yrsinsite             0
avgbothNymph_Larva    0
avgtotal              0
dtype: int64

use central tendenncies for boldness :184, sex : 32 ,avgbothNymph_larva:11, avgtotal: 11

In [30]:
dataset.head()

,Lizard,year,date,aggression,boldness,sex,avgmass,trialnum,assayyear,yrsinsite,avgbothNymph_Larva,avgtotal
0,2,2015,10/6/2015,5,-0.195733,0.0,755.6,1,1,1,6.000000,8.000000
1,2,2015,10/21/2015,5,-1.413857,0.0,755.6,2,1,1,5.333333,7.333333
2,2,2015,11/4/2015,5,-1.007816,0.0,755.6,3,1,1,5.000000,7.250000
3,13,2015,10/7/2015,2,-2.225940,1.0,705.0,1,1,1,4.500000,5.000000
4,13,2015,10/22/2015,2,-0.601774,1.0,705.0,2,1,1,4.000000,4.333333

In [31]:
# Download new csv
dataset.to_csv('Clean_Lizard_behave.csv', index=False)

# Dataset cleaned 
Now forward to ML training

# Predicting Future Boldness in Lizards Using LSTM (Deep Learning)

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
dat = pd.read_csv(r'D:\Fun projects\Neural Network\Datasets\Lizard_behavior\Clean_Lizard_behave.csv')

In [4]:
import torch

In [5]:
device = 'cuda' if torch.cuda.is_available else 'cpu'
device

'cuda'

In [6]:
dat.head()

,Lizard,year,date,aggression,boldness,sex,avgmass,trialnum,assayyear,yrsinsite,avgbothNymph_Larva,avgtotal
0,2,2015,10/6/2015,5,-0.195733,0.0,755.6,1,1,1,6.000000,8.000000
1,2,2015,10/21/2015,5,-1.413857,0.0,755.6,2,1,1,5.333333,7.333333
2,2,2015,11/4/2015,5,-1.007816,0.0,755.6,3,1,1,5.000000,7.250000
3,13,2015,10/7/2015,2,-2.225940,1.0,705.0,1,1,1,4.500000,5.000000
4,13,2015,10/22/2015,2,-0.601774,1.0,705.0,2,1,1,4.000000,4.333333

In [ ]:
# convt values to date and time
'''dat['date'] = pd.to_datetime(dat['date'])

# Sorted date and time
dat2 = dat.sort_values(by = 'date')

# Download new csv
dat2.to_csv('date_Lizard_behave.csv', index=False)'''

In [19]:
import numpy as np
import torch.nn as nn
from torch.utils.data import Dataset, DataLoader
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import io # Use io only when data is in a python string like  " 1, 2, 3, "

In [20]:
dat['date'] = pd.to_datetime(dat['date'])
dat= dat.sort_values(by = ['Lizard','date']).reset_index(drop = True)

In [21]:
dat

,Lizard,year,date,aggression,boldness,sex,avgmass,trialnum,assayyear,yrsinsite,avgbothNymph_Larva,avgtotal
0,2,2015,2015-10-06,5,-0.195733,0.0,755.600000,1,1,1,6.000000,8.000000
1,2,2015,2015-10-21,5,-1.413857,0.0,755.600000,2,1,1,5.333333,7.333333
2,2,2015,2015-11-04,5,-1.007816,0.0,755.600000,3,1,1,5.000000,7.250000
3,13,2015,2015-10-07,2,-2.225940,1.0,705.000000,1,1,1,4.500000,5.000000
4,13,2015,2015-10-22,2,-0.601774,1.0,705.000000,2,1,1,4.000000,4.333333
...,...,...,...,...,...,...,...,...,...,...,...,...
1008,10000008,2011,2011-10-24,2,0.067909,0.0,714.630113,2,1,1,0.750000,3.400000
1009,10000008,2011,2011-11-19,1,0.067909,0.0,714.630113,3,1,1,0.750000,3.400000
1010,10000009,2011,2011-10-02,11,0.067909,0.0,714.630113,1,1,1,0.750000,3.400000
1011,10000009,2011,2011-10-25,5,0.067909,0.0,714.630113,2,1,1,0.750000,3.400000
1012,10000009,2011,2011-11-17,5,0.067909,0.0,714.630113,3,1,1,0.750000,3.400000

In [34]:
# Feature engineering
Target = 'boldness'
Features = [
    'aggression','sex','avgmass','trialnum',
    'assayyear', 'yrsinsite','avgbothNymph_Larva',
    'avgtotal', 'boldness'
]

In [35]:
# Scale features for better model performance
scaler = StandardScaler()
dat[Features] = scaler.fit_transform(dat[Features])

In [36]:
# sequences for lizard
sequences = []
# Past sequence to remember
sequence_length = 3

✅ What is .iloc?
.iloc means: "index location"
It is used in Pandas to access rows by number (like 0th, 1st, 2nd row, etc.).

In [37]:
# iloc ex : df.iloc[2:5]  # gives you rows 2, 3, and 4

# Grouping lizard
for lizard_id, group in dat.groupby('Lizard'):
    if len(group) > sequence_length:
        for i in range(len(group) - sequence_length):
            # Input sequence (X)
            seq = group[Features].iloc[i:i+sequence_length].values
            # The target value (Y)
            target = group[Target].iloc[i + sequence_length]
            sequences.append((seq, target))

In [38]:
# Split the sequence into train and test sets
train_sequences , test_sequences = train_test_split(sequences, test_size = 0.2, random_state =42)

In [39]:
class LizardDataset(Dataset):
    def __init__(self, sequences):
        self.sequences = sequences
        
    def __len__(self):
        return len(self.sequences)
    
    def __getitem__(self, idx):
        sequence, target = self.sequences[idx]
        return torch.tensor(sequence, dtype = torch.float32), torch.tensor(target, dtype = torch.float32)

In [40]:
# Dataset
train_dataset  =LizardDataset(train_sequences)
test_dataset = LizardDataset(test_sequences)

In [41]:
# Dataloader
train_loader = DataLoader(train_dataset, batch_size = 4, shuffle = True)
test_loader = DataLoader(test_dataset, batch_size = 4, shuffle = True)

In [54]:
# --- LSTM Model ----

class BoldnessPredictor(nn.Module):
    def __init__(self, n_features, hidden_units):
        super().__init__()
        self.n_features = n_features
        self.hidden_units = hidden_units
        
        # LSTM layer
        self.LSTM = nn.LSTM(
            input_size = n_features,
            hidden_size = hidden_units,
            num_layers = 4,
            batch_first =True,
            dropout = 0.2
        )
        # Fully connected (fc) Output layer
        self.linear = nn.Linear(in_features = hidden_units, out_features = 1)
        
    def forward(self, x):
        # The LSTM returns the output and the final hidden/cell states
        LSTM_out, (h_n, c_n) = self.LSTM(x)
        
        # We only want the output from the very last time step
        last_time_step_out = LSTM_out[:, -1 ,:]
        
        # Pass the last output to our linear layer to get the prediction
        y_pred = self.linear(last_time_step_out)
        return y_pred

In [55]:
# ---Training the model ---

# hyperparameters
n_features = len(Features)
hidden_units = 50
lr = 0.001
epochs =100

In [56]:
# model initiation
model = BoldnessPredictor(n_features = n_features, hidden_units=hidden_units)

In [57]:
# Loss_fun
loss_function = nn.MSELoss()

In [59]:
# Optimizer
optimizer = torch.optim.Adam(model.parameters(),lr)

In [60]:
print("Start training")
for epoch in range(epochs):
    model.train()
    total_loss = 0
    for seq, target in train_loader:
        optimizer.zero_grad()
        
        # Forward pass
        y_pred = model(seq).squeeze() # to remove extra dimensions
        
        # Calc loss
        loss = loss_function(y_pred, target)
        total_loss += loss.item()
        
        # Backward pass and optimize
        loss.backward()
        optimizer.step()
        
    avg_loss = total_loss/ len(train_loader)
    if (epoch + 1) % 10 == 0:
        print(f"Epoch {epoch + 1}/{epochs}, loss: {avg_loss:.4f}")

print("Training completed")

Start training

C:\Users\Majesty\AppData\Roaming\Python\Python312\site-packages\torch\nn\modules\loss.py:608: UserWarning: Using a target size (torch.Size([1])) that is different to the input size (torch.Size([])). This will likely lead to incorrect results due to broadcasting. Please ensure they have the same size.
  return F.mse_loss(input, target, reduction=self.reduction)

Epoch 10/100, loss: 0.6126
Epoch 20/100, loss: 0.5139
Epoch 30/100, loss: 0.4393
Epoch 40/100, loss: 0.3652
Epoch 50/100, loss: 0.3199
Epoch 60/100, loss: 0.2539
Epoch 70/100, loss: 0.1991
Epoch 80/100, loss: 0.1408
Epoch 90/100, loss: 0.1167
Epoch 100/100, loss: 0.0990
Training completed

In [61]:
# --- 6. Evaluating the Model (Corrected) ---

model.eval() # Set model to evaluation mode
all_preds = []
all_targets = []

with torch.no_grad(): # We don't need to calculate gradients for evaluation
    for seq, target in test_loader:
        y_pred = model(seq).squeeze()
        
        # --- THIS IS THE FIX ---
        # Handle the case where the batch size is 1 and squeeze() creates a scalar
        if y_pred.dim() == 0:
            all_preds.append(y_pred.item())
        else:
            all_preds.extend(y_pred.tolist())
        
        if target.dim() == 0:
            all_targets.append(target.item())
        else:
            all_targets.extend(target.tolist())
        # --- END OF FIX ---


# Un-scale the predictions and targets to see the real values
# Note: The target was also part of the scaled features, so we need a dummy array to inverse transform
dummy_array_preds = np.zeros((len(all_preds), len(Features)))
dummy_array_preds[:, -1] = all_preds # Put predictions in the 'boldness' column
unscaled_preds = scaler.inverse_transform(dummy_array_preds)[:, -1]

dummy_array_targets = np.zeros((len(all_targets), len(Features)))
dummy_array_targets[:, -1] = all_targets
unscaled_targets = scaler.inverse_transform(dummy_array_targets)[:, -1]


# Print some example predictions
print("\n--- Evaluation Results ---")
for i in range(min(5, len(unscaled_preds))):
    print(f"Predicted Boldness: {unscaled_preds[i]:.4f}, Actual Boldness: {unscaled_targets[i]:.4f}")

# Calculate final error metric (e.g., Root Mean Squared Error)
rmse = np.sqrt(np.mean((unscaled_preds - unscaled_targets)**2))
print(f"\nRoot Mean Squared Error (RMSE) on Test Set: {rmse:.4f}")

--- Evaluation Results ---
Predicted Boldness: 0.0404, Actual Boldness: 0.0263
Predicted Boldness: -1.4145, Actual Boldness: -0.2051
Predicted Boldness: -1.3247, Actual Boldness: 1.2929
Predicted Boldness: -0.0132, Actual Boldness: -0.5644
Predicted Boldness: -0.4371, Actual Boldness: -0.2051

Root Mean Squared Error (RMSE) on Test Set: 1.0310

In [62]:
# save model
torch.save(model, 'lizard model boldness.pth')